[Unit]
Description=AllianceWarden

[Service]
Type=simple
WorkingDirectory=/root/AllianceWarden
ExecStart=/root/AllianceWarden/warden-app.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target