[Unit]
Description=othub-bot
After=network.target

[Service]
ExecStart=/usr/bin/node /root/othub-bot/bot.js
WorkingDirectory=/root/othub-bot/
User=root
Environment=NODE_ENV=production
Restart=always

[Install]
WantedBy=multi-user.target
